/*!*사용자 지정 CSS 속성 사용하기 (변수)*!*/
/*:root {*/
/*    !*Color*!*/
/*    --white-color: #fff;*/
/*    --black-color: #140a00;*/
/*    --blue-color: #045fd4;*/
/*    --red-color: #ff0000;*/
/*    --grey-dark-color: #909090;*/
/*    --grey-light-color: #e0e0e0;*/

/*    !*Size*!*/
/*    --padding: 12px;*/
/*    --avatar-size: 36px;*/

/*    !*Font Size*!*/
/*    --font-large: 18px;*/
/*    --font-medium: 14px;*/
/*    --font-small: 12px;*/
/*    --font-micro: 10px;*/
/*}*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

button,
button:focus {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #140a00;
    color: #fff;
}

header .header__logo {
    font-size: 18px;
}

header .header__logo i {
    color: #ff0000;
}

/*VIEW*/
.player {
    position: sticky;
    top: 0;
    background-color: #140a00;
    text-align: center
}

.player video {
    width: 100%;
    height: 100%;
    max-width: 800px;
}

.info .metadata .hashtags {
    display: flex;
    font-size: 12px;
    color: #045fd4;
}

.info .metadata .hashtags li {
    margin-right: 12px;
}

.info .metadata .titleAndButton {
    display: flex;
}

.info .metadata .titleAndButton .title {
    font-size: 14px;
    margin-right: 12px;
}

/*clamp*/
.info .metadata .titleAndButton .title.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 1.3;
}

.info .metadata .titleAndButton .moreBtn {
    height: 100%;
    transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
    transform: rotate(180deg);
}

.info .metadata .views {
    font-size: 12px;
    color: #909090;
}

.info .actions {
    display: flex;
    justify-content: space-around;
    margin: 12px 0;
}

.info .actions li button {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #909090;
}

.info .actions li button i {
    margin: 0 auto;
    margin-bottom: 6px;
    font-size: 16px;
}

.info .actions li button .fa-thumbs-up {
    color: #045fd4;
}

.info .channel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.info .channel .metadata {
    display: flex;
    align-items: center;
}

.info .channel .metadata img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 5px;
}

.info .channel .metadata .information {
    display: flex;
    flex-direction: column;
}

.info .channel .subscribe {
    text-transform: uppercase;
    color: #ff0000;
    font-size: 14px;
}

.upNext {
    padding: 0 12px;
}

.upNext .up_title {
    font-size: 14px;
    color: #909090;
    margin-bottom: 8px;
}

.upNext ul .item {
    display: flex;
    margin-top: 12px;
}

.upNext ul .item .img {
    flex: 1 1 35%;
    margin-right: 12px;
}

.upNext ul .item .img img {
    width: 100%;
}

.upNext ul .item .info {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
}

.upNext ul .item .info .title {
    font-size: 14px;
}

.upNext ul .item .info .name {
    font-size: 12px;
    color: #909090;
}

.upNext ul .item .info .views {
    font-size: 10px;
    color: #909090;
}

.upNext ul .item .moreBtn {
    flex: 1 1 5%;
    height: 100%;
}

.infoAndUpNext {
    display: flex;
    flex-direction: column;
}

/*길이가 최소 768px 이상일때*/
@media screen and (min-width: 768px) {
    .infoAndUpNext {
        flex-direction: row;
        margin: 12px 0;
    }
}
